body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

#orange {
    color: orange;
}

#margin-top {
    margin-top: 20px;
}

.flexible-continer {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

img {
    width: 60%;
}

.hireme {
    text-decoration: none;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
}

#top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#left-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}